<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<insert id="insertBoard">
		INSERT INTO board_table (
			board_num
			, content
			, write_id
		)
		VALUES (
			board_num_seq.nextval
			, #{content}
			, #{writeId}
		)
	</insert>

	<select id="selectLikeList" resultType="BoardDTO">
		SELECT like_num
		FROM board_like_table
		WHERE like_user = #{writeId}
		ORDER BY like_num DESC
	</select>

	<select id="selectLikeIsYN" resultType="string">
		SELECT like_num AS board_num
		FROM board_like_table
		WHERE like_num = #{boardNum}
			AND like_user = #{writeId}
	</select>

	<update id="plusLikeCnt">
		UPDATE board_table
		SET like_cnt = like_cnt + 1 WHERE board_num = #{boardNum}
	</update>

	<insert id="insertLikeUser">
		INSERT INTO board_like_table(
			like_num
			, like_user
		) VALUES(
			#{boardNum}
			, #{writeId}
		)
	</insert>

	<update id="minusLikeCnt">
		UPDATE board_table
		SET like_cnt = like_cnt - 1 WHERE board_num = #{boardNum}
	</update>

	<delete id="deleteLikeUser">
		DELETE board_like_table
		WHERE like_num = #{boardNum} AND like_user = #{writeId}
	</delete>

	<delete id="deleteBoard">
		DELETE board_table
		WHERE board_num = #{boardNum}
	</delete>

	<update id="updateBoardWrite">
		UPDATE board_table
		SET content = #{content}
		WHERE board_num = #{boardNum}
	</update>

	<select id="selectBoardOne" resultType="BoardDTO">
		SELECT BOARD.board_num
		    , BOARD.board_parent_num
		    , BOARD.content
		    , BOARD.write_id
		    , TO_CHAR(BOARD.write_date, 'YYYY-MM-DD') AS write_date
		    , BOARD.reply_cnt
		    , BOARD.like_cnt
		    , USER_.user_name
		FROM board_table BOARD
		LEFT JOIN user_tb USER_
		    ON BOARD.write_id = USER_.user_id
		WHERE board_num = #{boardNum}
	</select>

	<select id="selectAllBoardListCnt" resultType="int">
        SELECT COUNT(*)
		FROM board_table BOARD
		LEFT JOIN user_tb USER_
	   	ON BOARD.write_id = USER_.user_id
	   	<if test="likeMyGubun != null">
			<if test="likeMyGubun.equals('LIKE_LIST')">
				LEFT JOIN board_like_table LIKE_TB
			   		ON BOARD.board_num = LIKE_TB.like_num
				WHERE LIKE_TB.like_user = #{sessUserId}
			</if>
			<if test="likeMyGubun.equals('MY_LIST')">
				WHERE BOARD.write_id = #{sessUserId}
			</if>
		</if>
	</select>

	<select id="selectAllBoardList" resultType="BoardDTO">
		SELECT * FROM
        	(
	            SELECT ROW_NUMBER() OVER(ORDER BY board_num DESC) AS ROW_NUM
		            , BOARD.board_num
				    , BOARD.board_parent_num
				    , BOARD.content
				    , BOARD.write_id
				    , TO_CHAR(BOARD.write_date, 'YYYY-MM-DD') AS write_date
				    , BOARD.reply_cnt
				    , BOARD.like_cnt
				    , USER_.user_name
				FROM board_table BOARD
				LEFT JOIN user_tb USER_
			    	ON BOARD.write_id = USER_.user_id
			    <if test="likeMyGubun != null">
					<if test="likeMyGubun.equals('LIKE_LIST')">
						LEFT JOIN board_like_table LIKE_TB
					   		ON BOARD.board_num = LIKE_TB.like_num
						WHERE LIKE_TB.like_user = #{sessUserId}
					</if>
					<if test="likeMyGubun.equals('MY_LIST')">
						WHERE BOARD.write_id = #{sessUserId}
					</if>
				</if>
       		)A
   		<![CDATA[
   		 WHERE ROW_NUM > (#{pageNum} - 1) * #{pageResultCnt}
	     AND ROW_NUM <= #{pageNum} * #{pageResultCnt}
	     ORDER BY ROW_NUM
   		]]>
	</select>

</mapper>